*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
__pycache__
*.rej
*~
#*#
.#*
.*.swp
.DS_Store*.o
*.lo
*.la
*.al
.libs
*.so
*.so.[0-9]*
*.a
*.pyc
*.pyo
*.rej
*~
#*#
.#*
.*.swp
.DS_Store
*.ncb
*.suo
*.user
*.embed.manifest.res
*.intermediate.manifest
*.embed.manifest
*.obj
*.dep
*.idb
*.pdb
*.htm
*.exe
*.ilk
*.sdf
*.opensdf
*.log
*.lastbuildstate
*.1.tlog
*.ipch
*.tlog